{% load crispy_forms_tags  %}



<form
    hx-post="{% if room %}{% url 'edit_room_form' room.id %}{% else %}{% url 'edit_room_form' 0 %}{% endif %}"
    hx-target="{% if room %}#room-row-{{ room.id }}{% else %}#room-list{% endif %}"
    hx-swap="{% if room %}outerHTML{% else %}beforeend{% endif %}"
    hx-on="htmx:afterRequest: if (!{{ room|default:'false' }}) { document.getElementById('room-add').innerHTML = ''; }"
>
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Save</button>
    <button type="button"
            hx-get=""
            hx-target="#room-add"
            hx-swap="innerHTML"
    >Cancel</button>
</form>

