{% extends "base.html" %}

{% block title %}{{ block.super }}: Musician Details{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">{{ musician.first_name }} {{ musician.last_name }}</h2>
            </div>
            <div class="card-body">
                <p class="mb-2"><strong>Birth Date:</strong> {{ musician.birth }}</p>
                
                {% if musician.description %}
                    <p class="mb-2"><strong>Description</strong> {{ musician.description }}</p>
                {% endif %}

                {% if musician.picture %}
                    <img src="{{ musician.picture.url }}" height="50"/>
                {% endif %}
                <!-- You can add more fields here if needed -->
            </div>
        </div>
    </div>
</div>
{% endblock content %} 